{% liquid
    assign locale = request.locale.iso_code
    assign data_locale = 'en-GB'
    assign product_id = product.id
    if product.metafields.custom.old_product_id != blank
        assign product_id = product.metafields.custom.old_product_id
    endif
%}

{% case locale %}
    {% when 'it' %}
        {% assign data_locale = 'it-IT' %}
    {% when 'fr' %}
        {% assign data_locale = 'fr-FR' %}
    {% when 'de' %}
        {% assign data_locale = 'de-DE' %}
    {% when 'es' %}
        {% assign data_locale = 'es-ES' %}
{% endcase %}

<script class="feedaty_sdk" src="//widget.feedaty.com/v3.0.0/js/2021/10214838/feedaty.min.js" async></script>
<div class="feedaty_widget" data-ver="2021" data-id="65d5da8e09a35" data-type="product" data-variant="Striscia-slim-blk"
     data-lang="all" data-gui="{{ data_locale }}" data-sku="{{ product_id }}" data-snippets="2"></div>