<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="80 80 240 240" fill="none">
  <title>{{ "general.icon_labels.tumble_dry_cool" | t }}</title>
  <path d="M199.839 213.071C192.632 213.071 186.769 207.208 186.769 200.001C186.769 192.794 192.632 186.931 199.839 186.931C207.046 186.931 212.909 192.794 212.909 200.001C212.909 207.208 207.046 213.071 199.839 213.071ZM199.839 194.93C197.043 194.93 194.769 197.204 194.769 200C194.769 202.796 197.043 205.07 199.839 205.07C202.635 205.07 204.909 202.796 204.909 200C204.909 197.204 202.635 194.93 199.839 194.93Z" fill="black"/>
  <path d="M200.001 294.528C147.878 294.528 105.473 252.123 105.473 200.001C105.473 147.879 147.877 105.472 200.001 105.472C252.125 105.472 294.528 147.877 294.528 200C294.528 252.123 252.123 294.527 200.001 294.527V294.528ZM200.001 113.472C152.289 113.472 113.473 152.288 113.473 200C113.473 247.712 152.289 286.527 200.001 286.527C247.713 286.527 286.528 247.711 286.528 200C286.528 152.289 247.712 113.472 200.001 113.472Z" fill="black"/>
  <path d="M303.932 303.932H96.0681V96.0681H303.932V303.932ZM104.068 295.932H295.932V104.068H104.068V295.932Z" fill="black"/>
</svg>
