<svg xmlns="http://www.w3.org/2000/svg"  width="28" height="28" viewBox="80 80 240 240" fill="none">
  <title>{{ "general.icon_labels.no_tumble_dry" | t }}</title>
  <path d="M200.001 294.528C147.878 294.528 105.473 252.123 105.473 200.001C105.473 147.879 147.878 105.472 200.001 105.472C252.124 105.472 294.528 147.877 294.528 200C294.528 252.123 252.124 294.527 200.001 294.527V294.528ZM200.001 113.472C152.289 113.472 113.473 152.288 113.473 200C113.473 247.712 152.289 286.527 200.001 286.527C247.713 286.527 286.528 247.711 286.528 200C286.528 152.289 247.712 113.472 200.001 113.472Z" fill="black"/>
  <path d="M303.933 303.932H96.0688V96.0681H303.933V303.932ZM104.069 295.932H295.933V104.068H104.069V295.932Z" fill="black"/>
  <path d="M313.213 291.686C312.358 291.686 311.495 291.412 310.767 290.848L84.3357 115.477C82.5887 114.124 82.2697 111.612 83.6227 109.866C84.9757 108.12 87.4877 107.801 89.2337 109.153L315.665 284.524C317.412 285.877 317.73 288.389 316.378 290.135C315.59 291.152 314.408 291.686 313.213 291.686Z" fill="black"/>
  <path d="M86.7877 291.686C85.5927 291.686 84.4107 291.153 83.6227 290.135C82.2697 288.389 82.5887 285.876 84.3357 284.524L310.767 109.153C312.513 107.801 315.026 108.12 316.378 109.866C317.731 111.612 317.412 114.125 315.665 115.477L89.2347 290.848C88.5067 291.412 87.6437 291.686 86.7887 291.686H86.7877Z" fill="black"/>
</svg>