<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="80 80 240 240" fill="none">
  <title>{{ "general.icon_labels.tumble_dry" | t }}</title>
  <path d="M200.001 294.528C147.878 294.528 105.473 252.123 105.473 200.001C105.473 147.879 147.878 105.472 200.001 105.472C252.124 105.472 294.528 147.877 294.528 200C294.528 252.123 252.124 294.527 200.001 294.527V294.528ZM200.001 113.472C152.289 113.472 113.473 152.288 113.473 200C113.473 247.712 152.289 286.527 200.001 286.527C247.713 286.527 286.528 247.711 286.528 200C286.528 152.289 247.712 113.472 200.001 113.472Z" fill="black"/>
  <path d="M303.932 303.932H96.0681V96.0681H303.932V303.932ZM104.068 295.932H295.932V104.068H104.068V295.932Z" fill="black"/>
</svg>