<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="80 80 240 240" fill="none">
  <title>{{ "general.icon_labels.bleach" | t }}</title>
  <path d="M314.118 303.932H85.8815C84.4555 303.932 83.1385 303.173 82.4225 301.94C81.7065 300.707 81.7005 299.187 82.4075 297.948L196.526 98.0839C197.238 96.8369 198.565 96.0669 200.001 96.0669C201.437 96.0669 202.763 96.8369 203.475 98.0839L317.592 297.949C318.299 299.187 318.293 300.708 317.577 301.941C316.861 303.174 315.544 303.932 314.118 303.932ZM92.7715 295.932H307.23L200.001 108.134L92.7715 295.932Z" fill="black"/>
</svg>