<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="80 80 240 240" fill="none">
  <title>{{ "general.icon_labels.no_bleach" | t }}</title>
  <path d="M298.771 314.553C297.82 314.553 296.866 314.216 296.102 313.531L102.558 139.987C100.912 138.512 100.775 135.984 102.249 134.339C103.725 132.695 106.255 132.557 107.898 134.031L301.441 307.575C303.086 309.05 303.225 311.579 301.751 313.224C300.961 314.105 299.868 314.554 298.771 314.554L298.771 314.553Z" fill="black"/>
  <path d="M101.229 314.553C100.132 314.553 99.0394 314.104 98.2504 313.223C96.7754 311.578 96.9134 309.049 98.5594 307.574L292.102 134.031C293.747 132.556 296.275 132.694 297.751 134.339C299.226 135.984 299.088 138.513 297.442 139.987L103.897 313.531C103.133 314.216 102.18 314.553 101.229 314.553Z" fill="black"/>
  <path d="M314.118 293.311H85.8815C84.4555 293.311 83.1385 292.552 82.4225 291.319C81.7065 290.086 81.7005 288.566 82.4075 287.327L196.526 87.463C197.238 86.216 198.565 85.446 200.001 85.446C201.437 85.446 202.763 86.216 203.475 87.463L317.592 287.328C318.299 288.566 318.293 290.087 317.577 291.32C316.861 292.553 315.544 293.311 314.118 293.311ZM92.7715 285.311H307.23L200.001 97.513L92.7715 285.311Z" fill="black"/>
</svg>
