<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="80 80 240 240" fill='none'>
  <title>{{ "general.icon_labels.dry_clean" | t }}</title>
  <path d="M200,293.998c-51.831,0 -93.999,-42.167 -93.999,-93.998c0,-51.831 42.168,-93.998 93.999,-93.998c51.831,-0 93.998,42.167 93.998,93.998c0,51.831 -42.167,93.998 -93.998,93.998Zm0,-179.996c-47.42,-0 -85.999,38.578 -85.999,85.998c0,47.42 38.579,85.998 85.999,85.998c47.42,0 85.998,-38.578 85.998,-85.998c0,-47.42 -38.579,-85.998 -85.998,-85.998Z"
        fill='black'/>
</svg>