{% liquid
  assign current_language = request.locale.iso_code

  case current_language
    when 'it'
      assign pay_later = 'Paga in 3 rate con'
      assign pagamento_sicuro = 'Pagamento sicuro'
      assign rimborsi_resi = 'Possibilità di <a href="https://slamshop.zendesk.com/hc/it">reso e rimborso</a>'

    when 'en'
      assign pay_later = 'Pay in 3 installments with'
      assign pagamento_sicuro = 'Secure payment'
      assign rimborsi_resi = '<a href="https://slamshop.zendesk.com/hc/en-gb">Return and refund</a> options'

    when 'fr'
      assign pay_later = 'Payez en 3 fois avec PayPal'
      assign pagamento_sicuro = 'Paiement sécurisé'
      assign rimborsi_resi = 'Possibilités de <a href="https://slamshop.zendesk.com/hc/en-gb">retour et de remboursement</a>'

    when 'es'
      assign pay_later = 'Paga en 3 cuotas con PayPal'
      assign pagamento_sicuro = 'Pago seguro'
      assign rimborsi_resi = 'Opciones de <a href="https://slamshop.zendesk.com/hc/en-gb">devolución y reembolso</a>'

    when 'de'
      assign pay_later = 'Bezahlen Sie in 3 Raten mit'
      assign pagamento_sicuro = 'Sichere Bezahlung'
      assign rimborsi_resi = 'Rückgabe und <a href="https://slamshop.zendesk.com/hc/en-gb">Erstattungsmöglichkeiten</a>'

    else
      assign pay_later = 'Pay in 3 installments with'
      assign pagamento_sicuro = 'Secure payment'
      assign rimborsi_resi = '<a href="https://slamshop.zendesk.com/hc/en-gb">Return and refund</a> options'
  endcase
%}

<script>

</script>

<div class="fondino_product_form">
  <div>
    <p>{{ pay_later }}</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="12" viewBox="0 0 45 12" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.31668 0.0976562H1.87056C1.63474 0.0976562 1.43418 0.269049 1.3974 0.50177L0.00361506 9.33864C-0.0240876 9.51307 0.110953 9.67024 0.287825 9.67024H1.93303C2.16886 9.67024 2.36942 9.49885 2.40619 9.26566L2.78212 6.88225C2.81838 6.64883 3.01943 6.47767 3.25476 6.47767H4.34568C6.61577 6.47767 7.92581 5.37912 8.26813 3.20231C8.42227 2.24998 8.27466 1.50168 7.82857 0.977471C7.33888 0.402198 6.47002 0.0976562 5.31668 0.0976562ZM5.71426 3.3252C5.52585 4.5618 4.58102 4.5618 3.66746 4.5618H3.14743L3.51225 2.25231C3.53391 2.11286 3.65484 2.01003 3.79594 2.01003H4.03429C4.65659 2.01003 5.24369 2.01003 5.54707 2.3647C5.72779 2.57644 5.78329 2.89078 5.71426 3.3252ZM15.618 3.28556H13.9677C13.8271 3.28556 13.7056 3.3884 13.6839 3.52808L13.6109 3.98956L13.4955 3.82236C13.1383 3.30375 12.3417 3.13049 11.5465 3.13049C9.72276 3.13049 8.1653 4.51166 7.86192 6.44922C7.70429 7.41555 7.92838 8.33967 8.4766 8.9842C8.97959 9.57673 9.6992 9.82368 10.5552 9.82368C12.0246 9.82368 12.8395 8.8788 12.8395 8.8788L12.7659 9.33748C12.7381 9.51284 12.8731 9.67 13.0489 9.67H14.5355C14.772 9.67 14.9713 9.49861 15.0087 9.26542L15.9006 3.61716C15.9288 3.44343 15.7943 3.28556 15.618 3.28556ZM13.3176 6.49749C13.1583 7.44026 12.41 8.07314 11.4558 8.07314C10.9766 8.07314 10.5935 7.91947 10.3477 7.62822C10.1038 7.33906 10.011 6.92725 10.0886 6.46881C10.2374 5.53396 10.9983 4.88057 11.938 4.88057C12.4065 4.88057 12.7875 5.0361 13.0385 5.32992C13.2898 5.62676 13.3896 6.0409 13.3176 6.49749ZM22.7486 3.28533H24.407C24.6393 3.28533 24.7748 3.5458 24.6428 3.73631L19.1272 11.6978C19.0379 11.8268 18.8908 11.9035 18.7336 11.9035H17.0773C16.8441 11.9035 16.7079 11.6409 16.8429 11.4499L18.5603 9.02571L16.7338 3.66519C16.6706 3.47887 16.8082 3.28533 17.0064 3.28533H18.6359C18.8476 3.28533 19.0344 3.42431 19.0955 3.62695L20.0649 6.86452L22.3522 3.49543C22.4417 3.36391 22.5905 3.28533 22.7486 3.28533Z" fill="black"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M40.7292 9.33814L42.1435 0.339662C42.1652 0.199983 42.2862 0.0971461 42.4268 0.0966797H44.019C44.1948 0.0966797 44.3298 0.254314 44.3021 0.428738L42.9074 9.26515C42.871 9.49834 42.6705 9.66973 42.4343 9.66973H41.0123C40.8365 9.66973 40.7014 9.51256 40.7292 9.33814ZM29.8979 0.0971467H26.4511C26.2158 0.0971467 26.0153 0.268539 25.9784 0.50126L24.5847 9.33814C24.5569 9.51256 24.6919 9.66973 24.868 9.66973H26.6365C26.8009 9.66973 26.9415 9.54987 26.9672 9.38664L27.3626 6.88174C27.399 6.64832 27.6 6.47716 27.8353 6.47716H28.9257C31.1962 6.47716 32.5061 5.37861 32.8486 3.20181C33.0032 2.24947 32.8547 1.50117 32.4088 0.976962C31.9194 0.401688 31.0512 0.0971467 29.8979 0.0971467ZM30.2954 3.3247C30.1075 4.56129 29.1626 4.56129 28.2485 4.56129H27.729L28.0944 2.2518C28.1161 2.11235 28.2359 2.00952 28.3775 2.00952H28.6158C29.2377 2.00952 29.8253 2.00952 30.1285 2.3642C30.3094 2.57593 30.3645 2.89027 30.2954 3.3247ZM40.1982 3.28505H38.5491C38.4073 3.28505 38.287 3.38789 38.2658 3.52757L38.1928 3.98905L38.0769 3.82185C37.7197 3.30324 36.9236 3.12998 36.1284 3.12998C34.3046 3.12998 32.7476 4.51116 32.4443 6.44871C32.2871 7.41504 32.5103 8.33916 33.0585 8.98369C33.5624 9.57622 34.2811 9.82317 35.1371 9.82317C36.6064 9.82317 37.4212 8.87829 37.4212 8.87829L37.3477 9.33697C37.32 9.51233 37.455 9.6695 37.632 9.6695H39.1179C39.3532 9.6695 39.5537 9.4981 39.5905 9.26492L40.4829 3.61665C40.5102 3.44292 40.3752 3.28505 40.1982 3.28505ZM37.8981 6.49698C37.7397 7.43976 36.9905 8.07263 36.0361 8.07263C35.5578 8.07263 35.174 7.91896 34.9279 7.62771C34.684 7.33856 34.5924 6.92675 34.6691 6.4683C34.8186 5.53345 35.5785 4.88006 36.5183 4.88006C36.987 4.88006 37.3678 5.03559 37.6189 5.32941C37.8712 5.62626 37.971 6.0404 37.8981 6.49698Z" fill="black"/>
    </svg>
  </div>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
      <path d="M4.6 7.43131L5.95 8.78131L8.65 6.08131M1 3.38131L5.19252 1.28505C5.95265 0.904985 6.84735 0.904984 7.60748 1.28505L11.8 3.38131C11.8 3.38131 11.8 7.32331 11.8 9.40231C11.8 11.4813 9.8782 12.8847 6.4 15.0813C2.9218 12.8847 1 11.0313 1 9.40231V3.38131Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <p>{{ pagamento_sicuro }}</p>
  </div>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
      <path d="M1.65337 8.63636C2.41685 10.9592 4.60348 12.6364 7.18182 12.6364C10.3951 12.6364 13 10.0315 13 6.81818C13 3.60489 10.3951 1 7.18182 1C5.02827 1 3.148 2.17003 2.14201 3.90909M3.90909 4.63636H1V1.72727" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <p>{{ rimborsi_resi }}</p>
  </div>
</div>
