<div class="price mobile price--large price--on-sale">
  <div class="price__container">
    <div class="price__regular">
      <span class="visually-hidden visually-hidden--inline">Prezzo di listino</span>
      <span class="price-item price-item--regular"> </span>
    </div>
    <div class="price__sale">
      <span class="visually-hidden visually-hidden--inline">Prezzo di listino</span
      ><span class="visually-hidden visually-hidden--inline">Prezzo scontato</span>
      <span class="price-item price-item--sale price-item--last"> </span>
    </div>
    <small class="unit-price caption hidden">
      <span class="visually-hidden">Prezzo unitario</span>
      <span class="price-item price-item--last">
        <span></span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;per&nbsp;</span>
        <span> </span>
      </span>
    </small>
  </div>
</div>
