{%- unless product.has_only_default_variant -%}
  <div class="product-item-options">
    {%- for option in product.options_with_values -%}
      {% assign option_name = option.name | downcase %}

      {%- if option_name == 'color' or option_name == 'colore' and option.values.size > 1 -%}
        <ul class="product-item-options__list">
          {%- for value in option.values -%}
            <li
              class="product-item-options__item product-item-options__item--swatch"
              style="{% render 'color-swatch-style-inline', color_swatch_config: colors_table, value: value %}"
              color-name="{{ value }}"
            ></li>
          {%- endfor -%}
        </ul>
      {% endif %}
    {%- endfor -%}
  </div>
{%- endunless -%}
