{% comment %}
  Pulsante main
{% endcomment %}

<style>
  /*c'è globale*/
  a.btn_next {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.56px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Moderat-Black', sans-serif;
  }
</style>

<a
  class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center"
  href="#"
>
  TESTO DEL PULSANTE
  {% render 'icon-arrow-link-custom' -%}
</a>

{% comment %}
  cornice verticale
{% endcomment %}

<style>
  /* vedi - next_style.scss //frame linea tratteggiata */
</style>

<div class="frame_linea_visiva">
  <svg>
    <!-- eventuale elemento overlay -->
  </svg>
  <svg>
    <!-- eventuale elemento overlay -->
  </svg>
</div>

{% comment %}
  griglia orizzontale prodotti
{% endcomment %}

<style>
  .prod_card_box {
    grid-template-columns: 25% 25% 25% 25%;
    display: grid;
    background-color: var(--color-bianco);
    transform: translateX(-110vw);
    transition: transform 800ms;
    transition-timing-function: cubic-bezier(1, -0.21, 0, 1.19);
    position: relative;
    z-index: 1;
    @media (max-width: 1199px) {
      grid-template-columns: 37% 37% 37% 37%;
      overflow-x: scroll;
      margin-right: -5rem;
      padding-right: 5rem;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    @media (max-width: 749px) {
      grid-template-columns: 65% 65% 65% 65%;
      margin-right: -1.5rem;
      padding-right: 1.5rem;
    }
    &.active {
      transform: translateX(0);
    }
    &:first-of-type {
      margin-bottom: 24px;
    }
  }
</style>

{ "type": "product_list", "id": "prod_list", "label": "Select Products", "limit": 4 }

<section class="prod_card_box">
  {% for product in section.settings.prod_list %}
    <div class="prod_card_item">
      {% render 'card-product', card_product: product %}
    </div>
  {% endfor %}
</section>
