{%- style -%}
  @media(max-width:999px){
    #shopify-section-{{ section.id }} #storepoint-container #storepoint-map {
      height:80% !important;
    }
    #shopify-section-{{ section.id }} #storepoint-container {
      height:100vh !important;
      min-height:100vh !important;
      max-height:100vh !important;
      height: calc(var(--vh, 1vh) * 100) !important;
      min-height: calc(var(--vh, 1vh) * 100) !important;
      max-height: calc(var(--vh, 1vh) * 100) !important;
      width:100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      background-color: #346373;
    }
  }
{%- endstyle -%}

<div id="storepoint-container" data-map-id="1661d2fae60916"></div><script>(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://cdn.storepoint.co/api/v1/js/1661d2fae60916.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);}());</script>

{% schema %}
{
  "name": "Storelocator",
  "settings": [
  ],
  "presets": [
    {
      "name": "Storelocator",
      "category": "Custom"
    }
  ]
}
{% endschema %}
