{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
    
  }
{%- endstyle -%}

<section id="section_newlsetter_only">
  <div class="form_newsletter_next">
    {% assign current_language = request.locale.iso_code %}
    {% if current_language == 'it'%}
      <div id="omnisend-embedded-v2-65f30ac575b6cc4e1b8f8678"></div>
    {% elsif current_language == 'en'%}
      <div id="omnisend-embedded-v2-6603de9d7a3b55dd18524aa9"></div>
    {% elsif current_language == 'fr'%}
      <div id="omnisend-embedded-v2-6603dec77a3b55dd18524aab"></div>
    {% elsif current_language == 'es'%}
      <div id="omnisend-embedded-v2-6603dedc7a3b55dd18524aad"></div>
    {% elsif current_language == 'de'%}
      <div id="omnisend-embedded-v2-6603deb7d35343176c43fc16"></div>
    {% else %}
      <div id="omnisend-embedded-v2-6603de9d7a3b55dd18524aa9"></div>
    {% endif %}
  </div>
</section>


{% schema %}
{
  "name": "Newsletter only",
  "settings": [

  ],
  "presets": [
    {
      "name": "Newsletter only",
      "category": "Custom"
    }
  ]
}
{% endschema %}
