<style>
  #shopify-section-{{ section.id }} {}
</style>

<section id="descrizione_seo" class="container test">
  {% if collection.metafields.custom.descrizione_seo %}
    {% collection.metafields.custom.descrizione_seo %}
  {% endif %}
  {% if settings.section.descrizione_seo %}
    {% settings.section.descrizione_seo %}
  {% endif %}
</section>



{% schema %}
{
  "name": "Desc. SEO Collections",
  "settings": [
    {
      "type": "richtext",
      "id": "descrizione_seo",
      "label": "Descrione SEO"
    }
  ],
  "presets": [
    {
      "name": "Descrizione SEO",
      "category": "ADVANCED LAYOUT"
    }
  ]
}

{% endschema %}