{%- style -%}
  #shopify-section-{{ section.id }} {
    background-color:var(--color-grigio);
  }
{%- endstyle -%}

<section id="section_form_prostore" class="page-width">
  <img
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/grafica_prostore.png?v=1710856855"
    width="auto"
    height="auto"
    alt="SLAM"
    loading="lazy"
  >
  <div class="colonna first">{{ section.settings.descrizione }}</div>
  <div class="colonna second"><form data-cf-form="OLtYJB"></form></div>
</section>

{% schema %}
{
  "name": "Pro Store - Form",
  "settings": [
    {
      "type": "richtext",
      "id": "descrizione",
      "label": "Descrizione"
    }
  ],
  "presets": [
    {
      "name": "Pro Store - Form",
      "category": "Custom"
    }
  ]
}
{% endschema %}
