body.About {
    overflow-x: hidden;
}


.position_about_titolo_hero {
    position: absolute;
    top:19vw;
    left:7vw;
}


.img_about_titolo_hero {
    width: 100%;
    object-fit: cover;
}

.position_trama_hero {
    position: absolute;
    overflow: hidden;
    top: 27vw;
    right: -26vw;
}

.img_about_trama_hero {
    width: 80vw;
}

.img_about_blending_img {
  height: 100%; 
  object-fit: cover;  
}

.about_wrapper_blending {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1.5fr;
    position: relative;
}

.box {
    overflow:hidden;
    margin-top: auto;
    margin-bottom: auto;
}
.a {
    grid-column: 1;
    grid-row: 1;
}
.b {
    grid-column: 2 ;
    grid-row: 1;
}
.c {
    grid-column: 3;
    grid-row: 1;
}
.d {
    grid-column: 4;
    grid-row: 1;
}





.about_titolo_blending_riga {
  color:var(--color-blu); 
  font-weight: var(--font-bold);
}

.about_wrapper_anno_blending {
    position: absolute;
    bottom: 40px;
    left: 18vw;
}

.about_anno_blending {
  color:var(--color-blu); 
  font-weight: var(--font-bold);
  font-style:italic;
  font-size: clamp(41px, 7.5vw, 75px);
  line-height: 0.82;
  font-family: "Moderat-Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
}

.about_wrapper_anno_blending_mobile {
    visibility: hidden;
}



.about_beyond_slider {
  overflow:hidden;
}


.about_beyond_titolo {
    position: absolute;
    width: 50%;
    top: 17vw;
    left: 7vw;
    z-index: 999;
}



.about_slam_chrono_wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 2fr;
}










.about_slam_commitment_titolo {
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
@media(max-width:999px) {
    .about_slam_commitment_titolo {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.about_wrapper_inspire {
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 2fr 1fr 1fr;
}

.about_wrapper_inspire_splash {

    background-color:var(--color-blu);
    position: relative;
    top:0px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 5fr 2fr;
}


.btn_about_inspire_close {
    height: 90px !important;
    width: 100% !important;
    position: absolute; 
    bottom: 0px; 
    right: 0px;
    padding: 33px;
    justify-content: flex-end;
    background-color: var(--color-verdeh2o);
}

.about_inspire_boxb {
    position:relative; 
    width: 27vw;
    height:100%;
    background-image: url('https://cdn.shopify.com/s/files/1/0608/3913/3321/files/barca_inspire.png?v=1710321611'); 
    background-size: cover;
}

.img_about_making_diff {
    position: relative;
    margin-top: 20px;
}

.about_wrapper_making_diff {
    position: absolute;
    top: 0vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.about_making_diff_titolo {
    position: relative;
    top: 1vw;
    left: 2vw;
}

.about_slam_difference_titolo {
  font-size: clamp(41px, 7.5vw, 75px);
  line-height: 0.82;
  font-style: italic;
  color: var(--color-bianco);
  font-family: "Moderat-Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
}

.about_making_diff_testo {
    margin-bottom: 15px;
    margin-right: 20px;
}


.about_wrapper_our_commitment {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 4fr 6fr;
}

.about_wrapper_our_commitment_figure {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
}

.about_slam_athletes_wrapper {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.about_slam_partnership_wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 2fr 1fr;
}


.about_slam_partnership_titolo {
  font-size: clamp(41px, 7.5vw, 75px);
  line-height: 0.82;
  font-style: italic;
  color: var(--color-blu);
  font-family: "Moderat-Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
}

.about_slam_team_wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 2fr;
}

.about_wrapper_certificazioni {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 4fr 5fr 5fr;
}

.about_wrapper_certificazioni_nested {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 3fr 1fr;
}

/*FLAVIO*/
#section_slam_beyond {
    position: relative;
}
#section_slam_beyond .bottom_overlay {
    position: absolute;
    bottom: -12vw;
    width: 30.3vw;
    object-fit: cover;
    height: auto;
}
#section_slam_beyond  .about_beyond_img_fissa {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section_slam_beyond .slick-slide img {
    aspect-ratio: 2.5/1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}