#th_pb_qty_bundle.th_pb_qty_bundle_cls .th_pb_qty_bundle_l2_grid_inner .th_pb_qty_bundle_l2_title_text h6 span {
    color: #000000 !important;
}
#th_pb_qty_bundle .th_pb_qty_bundle_l2_grid_inner .th_pb_qty_bundle_l2_grid_discount_section {
    border-radius: 0;
    border: none !important;
}
#th_pb_qty_bundle  .th_pb_qty_bundle_l2_grid_inner .th_pb_qty_bundle_l2_grid_discount_val {
    font-size: 11px;
    line-height: 1.25;
    padding: 3px 15px;
    text-transform: uppercase;
}