//TYPOGRAPHY AND COLOR

// miglioramenti
* {
      -webkit-font-smoothing: antialiased !important;
      text-rendering: geometricPrecision !important;
}


//colors
:root {
      --color-verdeh2o:#00988f;
      --color-bianco:#ffffff;
      --color-nero:#000000;
      --color-rosso:#FA0000;
      --color-turchese:#00988F;
      --color-blu: #346373;
      --color-grigio: #ececec;
      --color-bg-grigio: #F8F8F8;

      --font-black: "Moderat-Black", sans-serif;
      --font-black-i: "Moderat-Black-italic", sans-serif;
      --font-bold: "Moderat-Bold", sans-serif;
      --font-bold-i: "Moderat-Bold-italic", sans-serif;
      --font-mid: "Moderat-Medium", sans-serif;
      --font-body-family: "Moderat-Medium", sans-serif;
      
      --cut-min1600: 1600px;
      --cut-max1440: 1440px;
      --cut-max1280: 1280px;
      --cut-max999: 999px;
      --cut-max767: 767px;
      --cut-max490: 490px;

      --trans-bezi: cubic-bezier(.87,-0.53,.18,1.26);
}

//tipografia - Family
@font-face {
      font-family: "Moderat-Black";
      src: url(https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Moderat-Black.woff?v=1702479420) format("woff");
}
@font-face {
      font-family: "Moderat-Black-italic";
      src: url(https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Moderat-Black-Italic.woff?v=1702479421) format("woff");
}
@font-face {
      font-family: "Moderat-Black-italic_stancil";
      src: url(https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Slam-Moderat-Black-Italic_stencil.woff?v=1711105828) format("woff");
}
@font-face {
      font-family: "Moderat-Bold";
      src: url(https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Moderat-Bold.woff?v=1702479421) format("woff");
}
@font-face {
      font-family: "Moderat-Bold-italic";
      src: url(https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Moderat-Bold-Italic.woff?v=1702479421) format("woff");
}
@font-face {
      font-family: "Moderat-Medium";
      src: url(https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Moderat-Medium.woff?v=1702479421) format("woff");
}
@font-face {
      font-family: "Moderat-Medium-italic";
      src: url(https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Moderat-Medium-Italic.woff?v=1702479421) format("woff");
}

//typografia - Fonts
body {
      font-family: "Moderat-Medium", sans-serif;
}
h1, .h1 {
      font-size: clamp(41px,7.5vw,75px);
      line-height: 0.82;
      font-family: "Moderat-Black", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0;
      &.italic {
            font-family: "Moderat-Black-italic", sans-serif;
      }
      &.h2 {
            font-size: clamp(25px,3vw,37px);
            line-height: 1.21;
            letter-spacing: 0.02em;
      }
}
h2, .h2 {
      font-size: clamp(25px,3vw,37px);
      font-family: "Moderat-Black", sans-serif;
      line-height: 1.136;
      letter-spacing: 0.74px;
      &.italic {
            font-family: "Moderat-Black-italic", sans-serif;
      }
}
h3, .h3 {
      font-size:  clamp(18px, 2vw, 24px);
      font-family: "Moderat-Bold", sans-serif;
      line-height: 1.21;
      letter-spacing: 0.48px;
      &.italic {
            font-family: "Moderat-Bold-italic", sans-serif;
      }
}
h4, .h4 {
      font-size: clamp(14px, 1vw, 18px);
      line-height: clamp(21px, 1.5vw, 25px);
      font-family: "Moderat-Medium", sans-serif;
      &.italic {
            font-family: "Moderat-Medium-italic", sans-serif;
      }
}
h5 {
      font-size: 16px;
      font-family: "Moderat-Bold", sans-serif;
      &.italic {
            font-family: "Moderat-Bold-italic", sans-serif;
      }
}
h6 {
      font-size: 16px;
      font-family: "Moderat-Bold", sans-serif;
      &.italic {
            font-family: "Moderat-Bold-italic", sans-serif;
      }
}
p {
      font-size: 16px; //clamp(14px, 1vw, 16px);
      font-family: "Moderat-Medium", sans-serif;
      line-height: 24px;
      letter-spacing: .34px;
      &.italic {
            font-family: "Moderat-Medium-italic", sans-serif;
      }
      &.label-bold {
            font-size: 10px;
            line-height: 1;
            font-family: "Moderat-Bold", sans-serif;
      }
      &.label-medium {
            font-size: 10px;
            line-height: 1;
            font-family: "Moderat-Medium", sans-serif;
      }
}
a {
      font-size: clamp(14px, 1vw, 16px);
      line-height: 1;
      font-family: "Moderat-Bold", sans-serif;
      cursor:pointer !important;
      &.italic {
            font-family: "Moderat-Bold-italic", sans-serif;
      }
      &.btn_next {
            font-size: 14px;
            line-height: 1;
            letter-spacing: .56px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: "Moderat-Black", sans-serif;
      }
}
li {
      font-size: clamp(14px, 1vw, 14px);
      line-height: 1.64;
      font-family: "Moderat-Medium", sans-serif;
      &.italic {
            font-family: "Moderat-Medium-italic", sans-serif;
      }
}

//componenti
.etichetta {
      font-size: 12px;
      font-family: "Moderat-Black", sans-serif;
}
.micro {
      font-size: 10px;
}
.body-default {
      font-size: clamp(14px, 1vw, 14px);
      font-family: "Moderat-Medium", sans-serif;
      line-height: 1.64;
      letter-spacing: 0.02em;
      &.italic {
            font-family: "Moderat-Medium-italic", sans-serif;
      }
}
.label {
      font-size: 10px !important;
      line-height: 1.3 !important;
      letter-spacing: 3.4px !important;
      text-transform: uppercase !important;
      font-family: var(--font-bold-i) !important;
}
.article_tags {
      .label {
            letter-spacing: 2px !important;
      }
}
.body-dark-color {
      color: var(--color-nero);
}
.line_h_h1{
      line-height: .8;
}
.ultra {
      font-size: clamp(83px, 7.5vw, 113px);
}
