{{ page.content }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function() {
      var wishlistHeader = document.querySelector('.swym-wishlist-detail-header');
      if (wishlistHeader) {
          // Applica lo stile CSS
          wishlistHeader.style.justifyContent = 'space-between';
  
          // Crea i nuovi elementi
          var newHtml = '<div><a href="https://carismatix.it/account" class="fade-in" style="display:inline-block;margin-right:20px;">Torna al tuo Account</a><a href="https://carismatix.it/" class="fade-in">Torna alla Home</a></div>';
  
          // Inserisci i nuovi elementi come primi elementi
          wishlistHeader.innerHTML = newHtml + wishlistHeader.innerHTML;
      }
    }, 2000);
});
</script>
<style>
    .swym-wishlist-detail-header > button:not(:last-child) {
        display: none;
    }
</style>